@font-face {
  font-family: "PTSans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PTSans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --texts-texts-basic: #000;
  --texts-background-deafault: #FFF;
  --buttons-basic: #756157;
  --texts-second: #333;
  --background-second-1: rgba(131, 179, 211, 0.12);
  --background-basic-3: #82B3D3;
  --error-text-color: #FF5757;
  --forms-elements-2: #F2F2F2;
  --modal-blue-color: #83B3D3;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PTSans", "Arial", sans-serif;
  color: var(--texts-texts-basic);
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  background: var(--forms-elements-2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--texts-background-deafault);
  background-color: var(--buttons-basic);
  border: none;
  cursor: pointer;
}

.container {
  width: 1060px;
  margin: 0 auto;
}

/* start index */

.main-wrapper {
  width: 1200px;
  margin: 0 auto;
  background: #FFF;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);

}

.page-header-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;

}

.page-header-logo-link {
  display: block;
  width: 140px;
  margin-right: 28px;
}

.site-navigation {
  display: flex;
}

.navigation-list {
  width: 339px;
  margin: 0;
  padding: 0;
  list-style: none;
}


.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.navigation-user {
  align-self: flex-start;
  margin: 0;
  padding: 0;
  width: 268px;
  list-style: none;
}

.navigation-user-search-btn {
  background-image: url('../images/icons/search-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
}



.navigation-user-link {
  display: inline-flex;
  background-image: url('../images/icons/favourite-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}

.main-container {
  flex-grow: 1;
}


.welcome-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 69px;
  padding-top: 52px;
  padding-bottom: 82px;
  position: relative;
  background-color: var(--background-basic-3);
  background-image: url('../images/backgrounds/welcome-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.welcome-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  background-image: url('../images/shape.svg');
  background-repeat: no-repeat;
  width: 100%;
  height: 57px;
}

.welcome-inner {
  width: 620px;
  margin-left: auto;
  margin-right: auto;
}

.welcome-words {

  margin-top: 0;

  margin-bottom: 25px;
  color: var(--texts-texts-basic);
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.welcome-reasons {
  margin: 0;
  margin-bottom: 69px;
  font-size: 22px;
  line-height: 26px;
  color: var(--texts-second);
  text-align: center;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;

}

.reasons-item {
  position: relative;
  padding: 103px 85px;
  background-color: var(--background-second-1);
}

.reasons-item:not(.reasons-item--colored) {
  width: 230px;
}

.reasons-item--second {
  display: flex;
  justify-content: flex-end;
}

.reasons-item-left {
  width: 22.4%;
}

.reasons-item-right {
  width: 22.4%;
}

.reasons-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.20);
}

.reasons-item--first .reasons-item-image {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 66.6%;
  height: 100%;
  object-fit: cover;
}

.reasons-item--second .reasons-item-image {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 66.6%;
  height: 100%;
  object-fit: cover;
}

.reasons-title {
  color: var(--texts-texts-basic);
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.reasons-description {
  font-size: 18px;
  line-height: 21px;
  color: var(--texts-second);
}

.reasons-item--colored .reasons-title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: var(--texts-background-deafault);
}

.reasons-item--colored .reasons-description {
  font-size: 18px;
  line-height: 21px;
  color: var(--texts-background-deafault);
}

.reasons-item--colored {
  width: 1200px;
  background-color: var(--background-basic-3);
}

.reasons-item--image {
  width: 800px;
  padding: 0;
}



.services-title {
  width: 505px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 64px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.services-text {
  width: 490px;
  margin: 0 auto;
  margin-bottom: 64px;
  font-size: 22px;
  line-height: 26px;
  color: var(--texts-second);
}


.services-list {
  display: flex;
  padding: 0;
  list-style: none;
}


.services-label {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.services-description {
  margin: 0;
  color: var(--texts-second);
  font-size: 18px;
  line-height: 21px;
}


.services-item {
  position: relative;
  width: 230px;
  padding: 154px 85px 80px 85px;
  text-align: center;
}

.services-item:nth-child(odd) {
  background-color: var(--background-second-1);
}

.services-item::after {
  content: "";
  position: absolute;
  top: 82px;
  left: 160px;
  width: 75px;
  height: 72px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75px 72px;
}

.services-item--home::after {
  background-image: url('../images/icons/home-icon.svg');
}

.services-item--food::after {
  background-image: url('../images/icons/food-icon.svg');
}

.services-item--souvenir::after {
  background-image: url('../images/icons/souvenir-icon.svg');
}


.searching-wrapper {
  width: 592px;
  margin: 0 auto;
  text-align: center;
}

.searching-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;

}


.searching-text {
  font-size: 22px;
  line-height: 26px;
  color: var(--texts-second);
}

.searching-btn {
  font-size: 20px;
  line-height: 36px;
}


.subscribe {
  background-color: var(--background-basic-3);
  background-image: url(../images/backgrounds/subscribe-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.subscribe-wrapper {
  width: 684px;
  margin: 0 auto;
  text-align: center;
}

.subscribe-headline {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--texts-background-deafault);
}

.subscribe-text {
  font-size: 22px;
  line-height: 26px;
  color: var(--texts-background-deafault);
}


.subscribe-input {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.subscribe-btn {
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--texts-background-deafault);
  background-color: var(--background-basic-3);
}



.page-footer-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
}


.footer-social {
  width: 142px;
}

.contacts {
  width: 331px;
}

.developer {
  width: 115px;
}

.footer-social-list {
  padding: 0;
  list-style: none;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: var(--texts-texts-basic);
  text-decoration: none;
}

/* end index */



/* start catalog */

.catalog-wrapper {

  background-color: var(--background-basic-3);
  background-image: url('../images/backgrounds/filters-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}





.catalog-container {
  width: 1060px;
  margin: 0 auto;
}

.catalog-title {
  margin: 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  color: var(--texts-background-deafault);
}

.breadcrumbs {
  display: flex;
  padding: 0;
  list-style: none;
}

.breadcrumbs-link {
  line-height: 21px;
  color: var(--texts-background-deafault);
  text-decoration: none;
}

.breadcrumbs-link--home {
  display: inline-block;
  background-image: url('../images/icons/breadcrumbs-icon-home.svg');
  background-repeat: no-repeat;
  width: 13px;
  height: 15px;
}

.hotel-filters {
  display: flex;
}

.hotel-filters-group {
  width: 150px;
  padding: 0;
  margin: 0;
  border: none;
}

.hotel-filters-group:not(:nth-of-type(2)) {
  margin-right: 70px;
}

.hotel-filters-list {
  padding: 0;
  list-style: none;
}

.hotel-filters-title {
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  color: var(--texts-background-deafault);
}

.filter-range {
  width: 288px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: 70px;
  border: none;
}


.control-name {
  font-size: 18px;
  line-height: 23px;
  color: var(--texts-background-deafault);
}

.filter-range-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  color: var(--texts-background-deafault);
}

.price-controls .price {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  opacity: 0.3;
}

.price-controls-input {
  font-family: inherit;
  color: var(--texts-texts-basic);
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.range-controls {
  position: relative;
  width: 287px;
}

.filter-buttons-wrapper {
  width: 191px;
}

.scale {
  position: relative;
  width: 226px;
  height: 4px;
  background-color: var(--texts-background-deafault);
}

.bar {
  position: absolute;
  width: 287px;
  height: 4px;
  background-color: var(--texts-background-deafault);
  opacity: 0.3;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--texts-background-deafault);
  border-radius: 5px;
}

.range-toggle-min {
  left: 0;
  bottom: -8px;
}

.range-toggle-max {
  right: 58px;
  bottom: -8px;
}


.filter-btn {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--texts-background-deafault);
  background-color: var(--background-basic-3);
}

.filter-btn--reset {
  background-color: transparent;
}

.hotel-catalog {
  margin-top: 50px;
  margin-bottom: 40px;
}

.hotel-catalog-inner {
  display: flex;
  align-items: center;
}


.hotel-catalog-title {
  width: 338px;
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;

}

.select-control {
  width: 292px;
  margin-left: auto;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: var(--texts-second);
}

.catalog-view {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-left: 70px;
  width: 160px;
  padding: 0;
  list-style: none;
}

.catalog-view-button {
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 48px;
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid #000;
}


.results-list {
  padding: 0;
  list-style: none;
}

.results-item {
  width: 300px;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
}

.hotel-image {
  width: 300px;
  height: 212px;
}

.hotel-name {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.hotel-type {
  font-size: 18px;
  line-height: 21px;
  color: var(--texts-second);
}

.hotel-price {
  font-size: 18px;
  line-height: 21px;
  color: var(--texts-second);
}

.hotel-link-more {
  text-decoration: none;
}

.hotel-link-favourite {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--texts-background-deafault);
  background-color: var(--background-basic-3);
  text-decoration: none;
}

.hotel-rating {
  text-transform: uppercase;
  color: var(--texts-second);
  background-color: var(--forms-elements-2);
}

.star {
  display: inline-block;
  width: 18px;
  height: 17px;
  background-image: url('../images/hotels/rating-star.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.pagination {

  padding: 0;
  list-style: none;
}

.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--texts-background-deafault);
  background-color: var(--background-basic-3);
  text-decoration: none;
}

.pagination-link.pagination-current {
  color: var(--texts-texts-basic);
  background-color: var(--forms-elements-2);
}

.pagination-link.dots {
  color: var(--texts-texts-basic);
  background-color: transparent;

}

.newsletter {
  width: 684px;
  margin: 0 auto;
  text-align: center;
}

.newsletter-title {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-text {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  color: var(--texts-second);
}

.subscribe-catalog {
  background-image: none;
  background-color: transparent;
}

.subscribe-catalog .subscribe-headline {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--texts-texts-basic);
}

.subscribe-catalog .subscribe-text {
  font-size: 22px;
  line-height: 26px;
  color: var(--texts-second);
}

/* end catalog */

/* modal */

.modal {

  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(242, 242, 242, 0.80);
}

.modal.open {
  display: flex;
}

.modal-inner {
  width: 577px;
  padding: 64px 70px;
  border-radius: 30px;
  background: #FFF;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}


.modal-title {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.modal-error {
  line-height: 21px;
  color: var(--error-text-color);
}

.modal-message {
  line-height: 21px;
  color: var(--texts-second);
}


.modal-close-icon {
  display: block;
  position: relative;
  width: 52px;
  height: 52px;
  background-color: var(--forms-elements-2);
  border-radius: 50px;
}

.modal-close-icon::after,
.modal-close-icon::before {
  content: "";
  position: absolute;
  left: 13px;
  top: 25px;
  width: 25px;
  height: 2px;
  background-color: #222222;
}

.modal-close-icon::after {
  transform: rotate(-45deg);
}

.modal-close-icon::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}


.modal-label {
  font-size: 20px;
  font-weight: 700;
}

.modal-input {
  width: 400px;
  padding: 12px 20px;
  font-family: "PTSans", "Arial", sans-serif;
  color: var(--texts-texts-basic);
  background-color: var(--forms-elements-2);
  border: none;
  border-radius: 4px;
}

.modal-input::placeholder {
  font-size: 18px;
  font-weight: 700;
  color: #000;
}

.modal-row {
  position: relative;
  width: 557px;
  margin-bottom: 23px;
}


.modal-row--date::after {
  content: "";
  position: absolute;
  right: 15px;
  bottom: 32px;
  width: 20px;
  height: 20px;
  background-image: url('../images/icons/calendar-icon.svg');
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.modal-number-wrap {
  display: flex;
  height: 48px;
}

.modal-number-input {
  width: 31px;
  height: 46px;
  background: var(--forms-elements-2);
  border: none;
  text-align: center;
}

.modal-minus {
  position: relative;
  width: 40px;
  height: 48px;
  background: var(--forms-elements-2);
  border: none;
}

.icon-minus::after {
  content: "";
  position: absolute;
  top: 16px;
  width: 2px;
  height: 14px;
  background-color: rgba(117, 97, 87, 0.30);
  transform: rotate(90deg);
}


.modal-plus {
  position: relative;
  width: 40px;
  height: 48px;
  background: var(--forms-elements-2);
  border: none;
}


.icon-plus::after,
.icon-plus::before {
  content: "";
  position: absolute;
  top: 16px;
  width: 2px;
  height: 14px;
  background-color: rgba(117, 97, 87, 0.30);

}

.icon-plus::after {
  transform: rotate(90deg);
}

.children-notice {
  margin: 0;
  position: relative;
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.children-notice::before {
  content: "";
  position: absolute;
  background-image: url('../images/icons/children-notice-icon.svg');
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  background-size: 26px 26px;
}

.children-notice-text {
  display: none;
  position: relative;
  left: -118px;
  top: 45px;
  width: 216px;
  padding: 15px 22px;
  background-color: var(--texts-second);
  border-radius: 10px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.30);
  z-index: 1;
}

.children-notice-text::before {
  content: '';
  position: absolute;
  left: 120px;
  top: -20px;
  /* Положение треугольника */
  border: 10px solid transparent;
  /* Прозрачные границы */
  border-bottom: 10px solid var(--texts-second);
  /* Добавляем треугольник */
}

.children-notice:hover>.children-notice-text {
  display: block;

}


.modal-btn {
  width: 100%;
  padding: 18px 77px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--texts-background-deafault);
  background-color: var(--modal-blue-color);
  border: none;
}